{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body style="margin:0%; padding:0%;">
    <div>
    {% with 'main/images/'|add:country.name|add:'.png' as link %}
        <img class="parallax" src="{% static link %}" width="100%"
            style="z-index:1; margin: 0%; padding: 0%; margin:-10% 0; opacity: 75%;">
        {% endwith %}
        <div class="grid-container">
            <div class="item1">
                <h1 style="font-family: foxCat; z-index: 2; position: fixed; top: 20%;
                left: 50%;transform: translate(-50%, -50%); background-color: rgba(255,255,255,0.5);">{{country.name}}</h1>
            </div>
        </div>
    </div>
    <div style="position:fixed; max-height: 65%; Overflow-y:auto; Overflow-x:none; top:35%; left: 30%; right: 25%;">
        <p style="border: 1px solid red; font-family: sans-serif; padding: 10px;"></p>
        <div id="myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')">Show all</button>
            <button class="btn" onclick="filterSelection('beach')">Beach</button>
            <button class="btn" onclick="filterSelection('mountain')">Mountain</button>
            <button class="btn" onclick="filterSelection('canyon')">Canyon</button>
            <button class="btn" onclick="filterSelection('forest')">Forest</button>
            <button class="btn" onclick="filterSelection('waterfall')">Waterfall</button>
            <button class="btn" onclick="filterSelection('cave')">Cave</button>
            <button class="btn" onclick="filterSelection('strait')">Strait</button>
            <button class="btn" onclick="filterSelection('desert')">Desert</button>
        </div>
        <div style="margin-top: 20px; display: grid; grid-template-columns: repeat(2,400px); grid-row-gap: 20px;" >
            <div style="text-align: center;">
            <a href="#" onclick="document.getElementById('myModal').style.display='block'">
                <img class="flag" src="{% static 'main/images/Romania.png' %}" width="350px" height="100px">
                </a>
                <p style="margin: 0 auto; font-family: foxCat; font-size: 20px"><b>plm</b></p>
            </div>
            <div style="height: 50px"></div
        </div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="padding:0px">
    <img src="{% static 'main/images/Romania.png' %}" width="100%" height="200px" style="margin-bottom:1px">
    <h1 style="font-family: foxCat; padding:5px; margin-bottom:1px"><b>Atractie</b></h1>
    <p style="font-family: sans-serif; padding:5px;"> Aceasta atractie este cea mai misto atractie jur pe copiii mei</p>
    <a href="#">
    <div class="scroll" >
                <input type="text" placeholder="Select your country" style="text-align:center; width=100%; padding-left:0; padding-right:0;" id="myInput" onkeyup="filterFunction()">
                <div id="myDropdown" class="dropdown-content">
                {% for country in countries %}
                <a href="#" onclick="completeInput('{{country.name}}')"><b>{{country.name}}</b></a>
                {% endfor %} 
                </div>
    <button style="width:100%; font-family: sans-serif; font-size:20px; margin:0px; padding:0; text-align:center;">Find flights</button>
    </a>
  </div>

</div>

</body>

<script src="{% static 'main/js/cod.js' %}"></script>
<script> filterFunction();</script>

</html>